body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7043;
    color: white;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.login-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #80260a;
    border-radius: 5px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #ff7043;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ba3912;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #ff7043;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
