
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 70px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
}

nav a:hover {
    color: #ff7043; 
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px 0;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333;
}

.hero-image {
    max-width: 500px;
    border-radius: 20px;
}


.features {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.features-grid {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    color: #ff7043; 
}

.feature p {
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #ddd;
}

footer p {
    color: #777;
}
